/* overall style for all the pages, for eg: fonts and themes  */


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    font-family: "Roboto", sans-serif;
    /* font-weight: 100; */
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 80%;
    scroll-padding-top: 10rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    width: .8rem;

}

html ::-webkit-scrollbar-track{
    background: transparent;
}
html ::-webkit-scrollbar-thumb{
    background: grey;
    border-radius: 6rem;
}



    

.head {
    display: flex;
    
    padding: 1.5rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: darkslategray; 
    background-color: darkslategray;
    /* background-image: url(images/Aurora-Background.jpg);
    text-align: center;
    padding: 5rem 0rem;
    cursor: default;
    color: white;

    h1 {color: white; font-size: 3rem;}  */
}
.head ,.navigation  {
    
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;

}

.head .menu-icons{
    display: inline-flex
}
.head .logo img{
    height: 5rem;
}

.head .navigation a{
    margin: 2rem;
    font-size: 1.6rem;
    color: whitesmoke;

}

.head .navigation a:hover{
    color: salmon;
    border-bottom: .1rem solid salmon;
}

.head .menu-icons img{
    color: whitesmoke;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}


.head .menu-icons img:hover{
    color: salmon;
    border-bottom: .1rem solid salmon;
}